.content { 
  padding-bottom: 60px; 
  max-width: 768px;
  margin: 0 auto;
}

.content * {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.58em;
}

.content p {
  margin: 10px 0;
}

.content h1, 
.content h2, 
.content h3, 
.content h4, 
.content h5, 
.content h6 {
  font-family: 'Press Start 2P', cursive;
  margin: 30px 0;
} 

.content a {
  display: inline-block;
  padding: 1px 9px;
  background: #2faadc;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  line-height: 1.2;
}

.content ul, .content ol {
  margin: 20px 0 20px 18px;
}

.content blockquote {
  margin-left: 18px;
  border-left: 4px solid #3e7068;
  padding-left: 10px;
  margin: 40px 0 40px 18px;
}

@media(max-width: 1040px) {
  .content { padding: 1.4em; }
}