.button {
  font-size: 18px;
  color: #fff;
  background: transparent;
  border: none;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  position: relative;
  transition: left 0.3s;
  left: 0;
}

.button:hover {
  left: -4px;
}

@media(max-width: 1040px) {
  .button {
    padding-left: 12px;
  }
}