.title {
  font-size: 24px;
  text-align: center;
  padding: 50px 20px 30px 20px;
  line-height: 34px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

@media(max-width: 780px) {
  .title { padding: 70px 20px 60px 20px; }
}